@charset "utf-8";

.field-password {
	position: relative;
}

#password-complexity { 
	position: absolute; 
	top: 0; 
	margin-left: 30px; 
	line-height: 34px; 
	font-size: 12px; 
	white-space: nowrap;
}
#password-complexity.weak, 
#password-complexity.very-weak { 
	color: #c00; 
}
#password-complexity.medium { 
	color: #cc0; 
}

#password-complexity.strong, 
#password-complexity.very-strong { 
	color: #0c0; 
}
