

<div class="annotation mytest" id="{{annotation.id}}" ng-class="{'annotBackDrop':state.$editable }">

    <div class="annotation row" ng-class="{marked:state.isMarked}" ng-mouseenter="annotation.showMe=false" ng-mouseleave="annotation.showMe=true"  >


        <!--<div class="annotation_mark none"></div>-->
        <span class="col-md-2 plz" >
            <span class="annotation_mark active"></span>
            <span class="timestamp">{{annotation.timestamp | date:'mm:ss'}}</span>
            <span class="from" title="{{ annotation.fromUser }}">{{ annotation.fromUser.length > 20?  annotation.fromUser.substring(0,18)+'..': annotation.fromUser }}</span>
        </span>


        <span class="col-md-8 padding-lr-mobile">
            <span ng-hide="state.$editable" class="comment">{{ annotation.comment }}</span>
            <span ng-if="state.$editable" class="comment" >
                <textarea auto-focus="true" rows="3" placeholder="Write your comment here"
                    ng-model="annotation.comment"></textarea>
            </span>
        </span>


        <span class="col-md-2 prz">
        <span class="annotationButtons" ng-show="usernameIsSet()">
            <button ng-hide="annotation.showMe  || state.$editable" ng-disabled="replyDisabled" ng-click="addReply()" class="appBtn green reply annotation_comment" title="Click to add a reply comment">
            </button>
            <button ng-hide="annotation.showMe  || state.$editable" ng-disabled="!userHasWritten(annotation) && !userIsProjectOwner" ng-click="" class="appBtn reply annotate_reply" title="Click to reply comment">
            </button>
            <button ng-hide="annotation.showMe || state.$editable" ng-disabled="!userHasWritten(annotation) && !userIsProjectOwner" ng-click="annotation.delete()" class="appBtn delete annotate_delete" title="Click to delete comment">
            </button>
            <button ng-hide="state.$editable" ng-disabled="!userHasWritten(annotation) && !userIsProjectOwner" ng-click="toggleFlag(annotation)" class="appBtn annotate_flag_red" title="Click to reply comment">
            </button>
            <!--        <button ng-hide="annotation.showMe" ng-disabled="!userHasWritten(annotation) && !userIsProjectOwner "
                ng-click="annotation.delete()" class="appBtn  delete" title="Click to Delete comment">
            <span><i class="fa-trash-o fa"></i></span>
        </button>

        <button ng-hide="annotation.showMe"  ng-disabled="replyDisabled"
                ng-click="addReply()" class="appBtn green reply"
                title="Click to add a reply comment">
            <span><i class="fa fa-reply"></i></span> </span>
        </button>-->

            <!--<button ng-hide="state.$editable" ng-if="userIsProjectOwner" ng-click="annotation.hide()" class="hide"-->
            <!--title="Click to hide">-->
            <!--<span><i class="fa fa-eye-slash"></i></span>-->
            <!--</button>-->

            <!--<button ng-hide="state.$editable" ng-if="userIsProjectOwner && annotation.isHidden" ng-click="annotation.show()"-->
            <!--class="show"-->
            <!--title="Click to show">-->
            <!--<span><i class="fa fa-eye"></i></span>-->
            <!--</button>-->

            <!-- <button ng-hide="state.$editable || !annotation.userCanVote()" ng-click="annotation.voteUp()"
                class=" appBtn blue voteUp"
                title="Click to vote up for comment">
            <span>{{ annotation.votes.up }}<i class="fa fa-chevron-up"></i></span>
        </button>

        <button ng-hide="state.$editable || !annotation.userCanVote()" ng-click="annotation.voteDown()"
                class="appBtn red voteDown"
                title="Click to vote down for comment">
            <span>{{ annotation.votes.down }}<i class="fa fa-chevron-down"></i></span>
        </button>-->
            <button ng-show="state.$editable" ng-click="cancelSave()" class="appBtn cancel"
                title="Click to remove comment">
                <span><i class="fa fa-times"></i></span>
            </button>

            <button ng-show="state.$editable" ng-click="save()" class="appBtn green" title="Click to save comment">
                <span><i class="fa-save fa"></i></span>
            </button>


        </span>
             </span>
    </div>
    <div ng-if="annotation.children.length" class="annotationReplyList">
        <vc-reply-annotation data-annotation="child" ng-repeat="child in annotation.children" ng-init="child.showMe=true"></vc-reply-annotation>
    </div>
</div>
