
<div id="annotations-module" ng-cloak="" title="Annotate" ng-controller="vc.annotationsController" annotation-list="annotationList">

    <div ng-class="{'modal-backdrop':$root.userData.name && addDisabled,'fade':$root.userData.name && addDisabled,'in':$root.userData.name && addDisabled}"></div>

    <!--ng-mousemove="onResizeWidth($event)"  ng-mouseup="onStopResize()"  ng-mouseleave="onStopResize()" ng-class="{'resizecursor':resizeFlag==true, 'initialcursor': resizeFlag==false}"-->
    <h4 class="viewTitle">{{ (allowAnnotate) ? 'Annotate' : 'View'}}</h4>
    <div class="col-md-6 col-xs-12 sp resize tab-pane video-container" id="jsPane" >
        <div class="video_part clearfix" id='video-part'>
            <vc-media-video-container annotation-markers="annotations" media-time="mediaTime"
                data-file="file"></vc-media-video-container>
        </div>
        <div id="filter_area" style="height:100%">
                    <div ng-if="!$root.userData.name && !publicView" class="show_name">
                        <p>Enter your name to annotate, or <a vc-href="user/login">Login </a></p>

                        <h3>Who are you? </h3>

                        <div>
                            <input type="text" ng-model="$root.userChosenName" /></div>
                        <div>
                            <button class="btn annotator_choose" ng-click="setUserName()">Start Annotating</button>
                        </div>
                    </div>
                    <div ng-if="!$root.userData.name && publicView" class=" show_name_public ">
                        <h3>What's your name? </h3>

                        <div>
                            <input  type="text" ng-model="$root.userChosenName" /></div>
                        <div>
                            <button class="btn annotator_choose " ng-click="setUserName()">
                                Start Annotating <i class="vcArrow"></i>
                            </button>
                        </div>
                    </div>
                    <div class="infoAnnoWrapper" ng-if="$root.userData.name && allowAnnotate">
                        <div class="infoAnno">
                            <div class="info_anno_label">Video name</div>
                            <!--                   <span ng-class="{saved_message_warning:!areAllAdded}">{{ areAllAdded? "All Changes Saved" :"Some Annotations were not saved"}} </span>
                    <button ng-click="addAnnotation()" class="btn annotation_add" ng-disabled="addDisabled">Add Annotation
                    </button>-->
                            <div class="annotationsStats">
                                <div class="annotation_mark active"></div>
                                <div class="annotation_count">{{annotations.length}} annotations</div>
                            </div>
                            <div ng-if="contributors.length" class="contributorsPart">
                                <div class="contributor_length">
                                    <span class="num_cons">{{contributors.length}} </span>Contributors:
                                </div>
                                <div class="contributorsList">
                                    <div>Filter by ></div>
                                    <ul>
                                        <li ng-repeat="contrib in contributors" class="contributor repeatAnimation">
                                            <span ng-click="filter.filterToggle(contrib.name)"
                                                ng-class="{strikeThrough:filter.checkFilter(contrib.name),red:contrib.hasNew}">{{ contrib.name}}</span>
                                        </li>
                                    </ul>
                                    <div class="filterControls"><a href="" ng-click="filter.showAll()">Show All</a> / <a href="" ng-click="filter.hideAll()">Hide All</a></small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

    <div class="col-md-6 col-xs-12  tab-pane annotations-container" id="cssPane">
            <div id="annotations_data">
                
                <div id="myDiv" class="annotations_list_wrap">
                    <div id="annotations_list" ng-if="allowAnnotate">

                        <vc-media-annotation data-annotation="annotation" class="repeatAnimation"
                            ng-repeat="annotation in annotations| filter : filter.checkAnnotationUserNotInFilter  | orderObjectBy:'timestamp' track by $index" ng-init="annotation.showMe=true"></vc-media-annotation>
                    </div>
                </div>
            </div>

    </div>
</div>
