
<div class="videoContainer">
    <div class="video-action-control">
<!--        <div class="video-action-btns">
            <div ng-show="!addDisabled" ng-click="addAnnotation()" class="add-annot-btn">+</div>
        </div>-->
    </div>
    <videogular  vg-update-time="onUpdateTime($currentTime,$duration)" vg-stretch="config.stretch" vg-responsive="config.responsive" vg-autoplay='config.autoPlay' vg-width="config.width"
        vg-height="config.height" vg-theme="config.theme.url" vg-player-ready="onPlayerReady($API)" vg-cue-points="config.cuePoints">
               
         <vg-media vg-src="config.media"               
                  vg-native-controls="false">
        </vg-media>
        <vg-overlay-play></vg-overlay-play>
       <api-connector></api-connector>
         <vg-poster vg-url='config.poster.url' style="height:100%;"></vg-poster>
   <vg-controls vg-autohide="controller.config.plugins.controls.autoHide" vg-autohide-time="controller.config.plugins.controls.autoHideTime">
           <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
             <!--                 <span class="annotation-marker ng-scope" data-timestamp="26" style="margin-left: 32.6716%;">
                   <i class="fa fa-circle simpleShowAni ng-hide"></i>
               </span>-->
                <vg-scrub-bar-cue-points vg-cue-points='config.cuePoints[0]'></vg-scrub-bar-cue-points>
            </vg-scrub-bar>
       <div >
            <vg-play-pause-button></vg-play-pause-button>
           

            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>

            <vg-time-display>{{ currentTime | date:'mm:ss' }} <span style="color:lightgray;">/</span><span style="color:lightgray;font-size:12px"> 43:20.2</span></vg-time-display>
        
         
<!--            <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>-->
            <add-button class="pull-right"></add-button>
           </div>
          </vg-controls>
    </videogular>
 
</div>


